body{
    background-color: #777575;
}
.container{
    border: 2px solid black;
}
.col-12,.col-6, .col-md-3{
    border: 2px solid red;
}
#header{
    background-color: orange;
}
#menu{
    background-color: rgb(0, 94, 128);
}
